In [1]:
import pandas as pd

In [16]:
sales = pd.read_csv('advertising_and_sales_clean.csv')

In [17]:
sales

           tv     radio  social_media influencer      sales
0     16000.0   6566.23       2907.98       Mega   54732.76
1     13000.0   9237.76       2409.57       Mega   46677.90
2     41000.0  15886.45       2913.41       Mega  150177.83
3     83000.0  30020.03       6922.30       Mega  298246.34
4     15000.0   8437.41       1406.00      Micro   56594.18
...       ...       ...           ...        ...        ...
4541  26000.0   4472.36        717.09      Micro   94685.87
4542  71000.0  20610.69       6545.57       Nano  249101.92
4543  44000.0  19800.07       5096.19      Micro  163631.46
4544  71000.0  17534.64       1940.87      Macro  253610.41
4545  42000.0  15966.69       5046.55      Micro  148202.41

[4546 rows x 5 columns]

In [5]:
sales['tv'].corr(sales['sales'])

0.9994973659414971

In [6]:
sales['radio'].corr(sales['sales'])

0.868637813602153

In [7]:
sales['social_media'].corr(sales['sales'])

0.5274464220164503

In [8]:
sales['sales'].corr(sales['sales'])

1.0

In [9]:
#correlation range is between -1 to +1

In [10]:
#-1 inversely proportional

In [11]:
sales['newspaper'] = sales['tv'] / 100

In [12]:
sales

           tv     radio  social_media influencer      sales  newspaper
0     16000.0   6566.23       2907.98       Mega   54732.76      160.0
1     13000.0   9237.76       2409.57       Mega   46677.90      130.0
2     41000.0  15886.45       2913.41       Mega  150177.83      410.0
3     83000.0  30020.03       6922.30       Mega  298246.34      830.0
4     15000.0   8437.41       1406.00      Micro   56594.18      150.0
...       ...       ...           ...        ...        ...        ...
4541  26000.0   4472.36        717.09      Micro   94685.87      260.0
4542  71000.0  20610.69       6545.57       Nano  249101.92      710.0
4543  44000.0  19800.07       5096.19      Micro  163631.46      440.0
4544  71000.0  17534.64       1940.87      Macro  253610.41      710.0
4545  42000.0  15966.69       5046.55      Micro  148202.41      420.0

[4546 rows x 6 columns]

In [13]:
sales['tv'].corr(sales['newspaper'])

1.0

In [14]:
sales['influencer'].unique()

array(['Mega', 'Micro', 'Nano', 'Macro'], dtype=object)

In [20]:
sales_numeric = pd.get_dummies(sales, dtype=float)

In [21]:
sales_numeric

,tv,radio,social_media,sales,influencer_Macro,influencer_Mega,influencer_Micro,influencer_Nano
0,16000.0,6566.23,2907.98,54732.76,0.0,1.0,0.0,0.0
1,13000.0,9237.76,2409.57,46677.90,0.0,1.0,0.0,0.0
2,41000.0,15886.45,2913.41,150177.83,0.0,1.0,0.0,0.0
3,83000.0,30020.03,6922.30,298246.34,0.0,1.0,0.0,0.0
4,15000.0,8437.41,1406.00,56594.18,0.0,0.0,1.0,0.0
...,...,...,...,...,...,...,...,...
4541,26000.0,4472.36,717.09,94685.87,0.0,0.0,1.0,0.0
4542,71000.0,20610.69,6545.57,249101.92,0.0,0.0,0.0,1.0
4543,44000.0,19800.07,5096.19,163631.46,0.0,0.0,1.0,0.0
4544,71000.0,17534.64,1940.87,253610.41,1.0,0.0,0.0,0.0
4545,42000.0,15966.69,5046.55,148202.41,0.0,0.0,1.0,0.0

In [22]:
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score