In [1]:
import pandas

In [3]:
import pandas as pd # alias, just to be little quick

In [5]:
data = pd.read_csv('Datasets/homelessness.csv')

In [6]:
data

,Unnamed: 0,region,state,individuals,family_members,state_pop
0,0,East South Central,Alabama,2570.0,864.0,4887681
1,1,Pacific,Alaska,1434.0,582.0,735139
2,2,Mountain,Arizona,7259.0,2606.0,7158024
3,3,West South Central,Arkansas,2280.0,432.0,3009733
4,4,Pacific,California,109008.0,20964.0,39461588
5,5,Mountain,Colorado,7607.0,3250.0,5691287
6,6,New England,Connecticut,2280.0,1696.0,3571520
7,7,South Atlantic,Delaware,708.0,374.0,965479
8,8,South Atlantic,District of Columbia,3770.0,3134.0,701547
9,9,South Atlantic,Florida,21443.0,9587.0,21244317
10,10,South Atlantic,Georgia,6943.0,2556.0,10511131
11,11,Pacific,Hawaii,4131.0,2399.0,1420593
12,12,Mountain,Idaho,1297.0,715.0,1750536
13,13,East North Central,Illinois,6752.0,3891.0,12723071
14,14,East North Central,Indiana,3776.0,1482.0,6695497
15,15,West North Central,Iowa,1711.0,1038.0,3148618
16,16,West North Central,Kansas,1443.0,773.0,2911359
17,17,East South Central,Kentucky,2735.0,953.0,4461153
18,18,West South Central,Louisiana,2540.0,519.0,4659690
19,19,New England,Maine,1450.0,1066.0,1339057
20,20,South Atlantic,Maryland,4914.0,2230.0,6035802
21,21,New England,Massachusetts,6811.0,13257.0,6882635
22,22,East North Central,Michigan,5209.0,3142.0,9984072
23,23,West North Central,Minnesota,3993.0,3250.0,5606249
24,24,East South Central,Mississippi,1024.0,328.0,2981020
25,25,West North Central,Missouri,3776.0,2107.0,6121623
26,26,Mountain,Montana,983.0,422.0,1060665
27,27,West North Central,Nebraska,1745.0,676.0,1925614
28,28,Mountain,Nevada,7058.0,486.0,3027341
29,29,New England,New Hampshire,835.0,615.0,1353465
30,30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025
31,31,Mountain,New Mexico,1949.0,602.0,2092741
32,32,Mid-Atlantic,New York,39827.0,52070.0,19530351
33,33,South Atlantic,North Carolina,6451.0,2817.0,10381615
34,34,West North Central,North Dakota,467.0,75.0,758080
35,35,East North Central,Ohio,6929.0,3320.0,11676341
36,36,West South Central,Oklahoma,2823.0,1048.0,3940235
37,37,Pacific,Oregon,11139.0,3337.0,4181886
38,38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922
39,39,New England,Rhode Island,747.0,354.0,1058287
40,40,South Atlantic,South Carolina,3082.0,851.0,5084156
41,41,West North Central,South Dakota,836.0,323.0,878698
42,42,East South Central,Tennessee,6139.0,1744.0,6771631
43,43,West South Central,Texas,19199.0,6111.0,28628666
44,44,Mountain,Utah,1904.0,972.0,3153550
45,45,New England,Vermont,780.0,511.0,624358
46,46,South Atlantic,Virginia,3928.0,2047.0,8501286
47,47,Pacific,Washington,16424.0,5880.0,7523869
48,48,South Atlantic,West Virginia,1021.0,222.0,1804291
49,49,East North Central,Wisconsin,2740.0,2167.0,5807406
50,50,Mountain,Wyoming,434.0,205.0,577601

In [7]:
type('Miral')

str

In [8]:
type(30)

int

In [9]:
type(99.99)

float

In [10]:
type(['A','B','C'])

list

In [11]:
type(('A','B','C'))

tuple

In [13]:
type(data)
# sql-> table 
# pandas-> DataFrame

pandas.core.frame.DataFrame

In [14]:
data.head()

,Unnamed: 0,region,state,individuals,family_members,state_pop
0,0,East South Central,Alabama,2570.0,864.0,4887681
1,1,Pacific,Alaska,1434.0,582.0,735139
2,2,Mountain,Arizona,7259.0,2606.0,7158024
3,3,West South Central,Arkansas,2280.0,432.0,3009733
4,4,Pacific,California,109008.0,20964.0,39461588

In [15]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51 entries, 0 to 50
Data columns (total 6 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Unnamed: 0      51 non-null     int64
 1   region          51 non-null     object
 2   state           51 non-null     object
 3   individuals     51 non-null     float64
 4   family_members  51 non-null     float64
 5   state_pop       51 non-null     int64
dtypes: float64(2), int64(2), object(2)
memory usage: 2.5+ KB

In [16]:
data.describe()

       Unnamed: 0    individuals  family_members     state_pop
count   51.000000      51.000000       51.000000  5.100000e+01
mean    25.000000    7225.784314     3504.882353  6.405637e+06
std     14.866069   15991.025083     7805.411811  7.327258e+06
min      0.000000     434.000000       75.000000  5.776010e+05
25%     12.500000    1446.500000      592.000000  1.777414e+06
50%     25.000000    3082.000000     1482.000000  4.461153e+06
75%     37.500000    6781.500000     3196.000000  7.340946e+06
max     50.000000  109008.000000    52070.000000  3.946159e+07

In [17]:
data.shape #rows, columns

(51, 6)

In [21]:
data.drop(['Unnamed: 0'], axis=1, inplace=True)

0    East South Central
1               Pacific
2              Mountain
Name: region, dtype: object

In [27]:
data.columns

Index(['region', 'state', 'individuals', 'family_members', 'state_pop'], dtype='object')

In [29]:
#convert df to array/list-of-list
data.values[0]

array(['East South Central', 'Alabama', 2570.0, 864.0, 4887681],
      dtype=object)

In [30]:
data.index

RangeIndex(start=0, stop=51, step=1)

In [32]:
data.sort_values('state_pop') #ascending order

,region,state,individuals,family_members,state_pop
50,Mountain,Wyoming,434.0,205.0,577601
45,New England,Vermont,780.0,511.0,624358
8,South Atlantic,District of Columbia,3770.0,3134.0,701547
1,Pacific,Alaska,1434.0,582.0,735139
34,West North Central,North Dakota,467.0,75.0,758080
41,West North Central,South Dakota,836.0,323.0,878698
7,South Atlantic,Delaware,708.0,374.0,965479
39,New England,Rhode Island,747.0,354.0,1058287
26,Mountain,Montana,983.0,422.0,1060665
19,New England,Maine,1450.0,1066.0,1339057
29,New England,New Hampshire,835.0,615.0,1353465
11,Pacific,Hawaii,4131.0,2399.0,1420593
12,Mountain,Idaho,1297.0,715.0,1750536
48,South Atlantic,West Virginia,1021.0,222.0,1804291
27,West North Central,Nebraska,1745.0,676.0,1925614
31,Mountain,New Mexico,1949.0,602.0,2092741
16,West North Central,Kansas,1443.0,773.0,2911359
24,East South Central,Mississippi,1024.0,328.0,2981020
3,West South Central,Arkansas,2280.0,432.0,3009733
28,Mountain,Nevada,7058.0,486.0,3027341
15,West North Central,Iowa,1711.0,1038.0,3148618
44,Mountain,Utah,1904.0,972.0,3153550
6,New England,Connecticut,2280.0,1696.0,3571520
36,West South Central,Oklahoma,2823.0,1048.0,3940235
37,Pacific,Oregon,11139.0,3337.0,4181886
17,East South Central,Kentucky,2735.0,953.0,4461153
18,West South Central,Louisiana,2540.0,519.0,4659690
0,East South Central,Alabama,2570.0,864.0,4887681
40,South Atlantic,South Carolina,3082.0,851.0,5084156
23,West North Central,Minnesota,3993.0,3250.0,5606249
5,Mountain,Colorado,7607.0,3250.0,5691287
49,East North Central,Wisconsin,2740.0,2167.0,5807406
20,South Atlantic,Maryland,4914.0,2230.0,6035802
25,West North Central,Missouri,3776.0,2107.0,6121623
14,East North Central,Indiana,3776.0,1482.0,6695497
42,East South Central,Tennessee,6139.0,1744.0,6771631
21,New England,Massachusetts,6811.0,13257.0,6882635
2,Mountain,Arizona,7259.0,2606.0,7158024
47,Pacific,Washington,16424.0,5880.0,7523869
46,South Atlantic,Virginia,3928.0,2047.0,8501286
30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025
22,East North Central,Michigan,5209.0,3142.0,9984072
33,South Atlantic,North Carolina,6451.0,2817.0,10381615
10,South Atlantic,Georgia,6943.0,2556.0,10511131
35,East North Central,Ohio,6929.0,3320.0,11676341
13,East North Central,Illinois,6752.0,3891.0,12723071
38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922
32,Mid-Atlantic,New York,39827.0,52070.0,19530351
9,South Atlantic,Florida,21443.0,9587.0,21244317
43,West South Central,Texas,19199.0,6111.0,28628666
4,Pacific,California,109008.0,20964.0,39461588

In [33]:
data.sort_values('state_pop', ascending=False) #ascending order

,region,state,individuals,family_members,state_pop
4,Pacific,California,109008.0,20964.0,39461588
43,West South Central,Texas,19199.0,6111.0,28628666
9,South Atlantic,Florida,21443.0,9587.0,21244317
32,Mid-Atlantic,New York,39827.0,52070.0,19530351
38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922
13,East North Central,Illinois,6752.0,3891.0,12723071
35,East North Central,Ohio,6929.0,3320.0,11676341
10,South Atlantic,Georgia,6943.0,2556.0,10511131
33,South Atlantic,North Carolina,6451.0,2817.0,10381615
22,East North Central,Michigan,5209.0,3142.0,9984072
30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025
46,South Atlantic,Virginia,3928.0,2047.0,8501286
47,Pacific,Washington,16424.0,5880.0,7523869
2,Mountain,Arizona,7259.0,2606.0,7158024
21,New England,Massachusetts,6811.0,13257.0,6882635
42,East South Central,Tennessee,6139.0,1744.0,6771631
14,East North Central,Indiana,3776.0,1482.0,6695497
25,West North Central,Missouri,3776.0,2107.0,6121623
20,South Atlantic,Maryland,4914.0,2230.0,6035802
49,East North Central,Wisconsin,2740.0,2167.0,5807406
5,Mountain,Colorado,7607.0,3250.0,5691287
23,West North Central,Minnesota,3993.0,3250.0,5606249
40,South Atlantic,South Carolina,3082.0,851.0,5084156
0,East South Central,Alabama,2570.0,864.0,4887681
18,West South Central,Louisiana,2540.0,519.0,4659690
17,East South Central,Kentucky,2735.0,953.0,4461153
37,Pacific,Oregon,11139.0,3337.0,4181886
36,West South Central,Oklahoma,2823.0,1048.0,3940235
6,New England,Connecticut,2280.0,1696.0,3571520
44,Mountain,Utah,1904.0,972.0,3153550
15,West North Central,Iowa,1711.0,1038.0,3148618
28,Mountain,Nevada,7058.0,486.0,3027341
3,West South Central,Arkansas,2280.0,432.0,3009733
24,East South Central,Mississippi,1024.0,328.0,2981020
16,West North Central,Kansas,1443.0,773.0,2911359
31,Mountain,New Mexico,1949.0,602.0,2092741
27,West North Central,Nebraska,1745.0,676.0,1925614
48,South Atlantic,West Virginia,1021.0,222.0,1804291
12,Mountain,Idaho,1297.0,715.0,1750536
11,Pacific,Hawaii,4131.0,2399.0,1420593
29,New England,New Hampshire,835.0,615.0,1353465
19,New England,Maine,1450.0,1066.0,1339057
26,Mountain,Montana,983.0,422.0,1060665
39,New England,Rhode Island,747.0,354.0,1058287
7,South Atlantic,Delaware,708.0,374.0,965479
41,West North Central,South Dakota,836.0,323.0,878698
34,West North Central,North Dakota,467.0,75.0,758080
1,Pacific,Alaska,1434.0,582.0,735139
8,South Atlantic,District of Columbia,3770.0,3134.0,701547
45,New England,Vermont,780.0,511.0,624358
50,Mountain,Wyoming,434.0,205.0,577601

In [35]:
data.sort_values('state_pop', ascending=False).head(10) #ascending order

                region           state  individuals  family_members  state_pop
4              Pacific      California     109008.0         20964.0   39461588
43  West South Central           Texas      19199.0          6111.0   28628666
9       South Atlantic         Florida      21443.0          9587.0   21244317
32        Mid-Atlantic        New York      39827.0         52070.0   19530351
38        Mid-Atlantic    Pennsylvania       8163.0          5349.0   12800922
13  East North Central        Illinois       6752.0          3891.0   12723071
35  East North Central            Ohio       6929.0          3320.0   11676341
10      South Atlantic         Georgia       6943.0          2556.0   10511131
33      South Atlantic  North Carolina       6451.0          2817.0   10381615
22  East North Central        Michigan       5209.0          3142.0    9984072

In [36]:
data['region']

0     East South Central
1                Pacific
2               Mountain
3     West South Central
4                Pacific
5               Mountain
6            New England
7         South Atlantic
8         South Atlantic
9         South Atlantic
10        South Atlantic
11               Pacific
12              Mountain
13    East North Central
14    East North Central
15    West North Central
16    West North Central
17    East South Central
18    West South Central
19           New England
20        South Atlantic
21           New England
22    East North Central
23    West North Central
24    East South Central
25    West North Central
26              Mountain
27    West North Central
28              Mountain
29           New England
30          Mid-Atlantic
31              Mountain
32          Mid-Atlantic
33        South Atlantic
34    West North Central
35    East North Central
36    West South Central
37               Pacific
38          Mid-Atlantic
39           New England
40        South Atlantic
41    West North Central
42    East South Central
43    West South Central
44              Mountain
45           New England
46        South Atlantic
47               Pacific
48        South Atlantic
49    East North Central
50              Mountain
Name: region, dtype: object

In [37]:
data[['region','state']]

                region                 state
0   East South Central               Alabama
1              Pacific                Alaska
2             Mountain               Arizona
3   West South Central              Arkansas
4              Pacific            California
5             Mountain              Colorado
6          New England           Connecticut
7       South Atlantic              Delaware
8       South Atlantic  District of Columbia
9       South Atlantic               Florida
10      South Atlantic               Georgia
11             Pacific                Hawaii
12            Mountain                 Idaho
13  East North Central              Illinois
14  East North Central               Indiana
15  West North Central                  Iowa
16  West North Central                Kansas
17  East South Central              Kentucky
18  West South Central             Louisiana
19         New England                 Maine
20      South Atlantic              Maryland
21         New England         Massachusetts
22  East North Central              Michigan
23  West North Central             Minnesota
24  East South Central           Mississippi
25  West North Central              Missouri
26            Mountain               Montana
27  West North Central              Nebraska
28            Mountain                Nevada
29         New England         New Hampshire
30        Mid-Atlantic            New Jersey
31            Mountain            New Mexico
32        Mid-Atlantic              New York
33      South Atlantic        North Carolina
34  West North Central          North Dakota
35  East North Central                  Ohio
36  West South Central              Oklahoma
37             Pacific                Oregon
38        Mid-Atlantic          Pennsylvania
39         New England          Rhode Island
40      South Atlantic        South Carolina
41  West North Central          South Dakota
42  East South Central             Tennessee
43  West South Central                 Texas
44            Mountain                  Utah
45         New England               Vermont
46      South Atlantic              Virginia
47             Pacific            Washington
48      South Atlantic         West Virginia
49  East North Central             Wisconsin
50            Mountain               Wyoming

In [41]:
data['state_pop'] > 1000000

0      True
1     False
2      True
3      True
4      True
5      True
6      True
7     False
8     False
9      True
10     True
11     True
12     True
13     True
14     True
15     True
16     True
17     True
18     True
19     True
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27     True
28     True
29     True
30     True
31     True
32     True
33     True
34    False
35     True
36     True
37     True
38     True
39     True
40     True
41    False
42     True
43     True
44     True
45    False
46     True
47     True
48     True
49     True
50    False
Name: state_pop, dtype: bool

In [47]:
data[data['state_pop'] > 1000000]

                region           state  individuals  family_members  state_pop
0   East South Central         Alabama       2570.0           864.0    4887681
2             Mountain         Arizona       7259.0          2606.0    7158024
3   West South Central        Arkansas       2280.0           432.0    3009733
4              Pacific      California     109008.0         20964.0   39461588
5             Mountain        Colorado       7607.0          3250.0    5691287
6          New England     Connecticut       2280.0          1696.0    3571520
9       South Atlantic         Florida      21443.0          9587.0   21244317
10      South Atlantic         Georgia       6943.0          2556.0   10511131
11             Pacific          Hawaii       4131.0          2399.0    1420593
12            Mountain           Idaho       1297.0           715.0    1750536
13  East North Central        Illinois       6752.0          3891.0   12723071
14  East North Central         Indiana       3776.0          1482.0    6695497
15  West North Central            Iowa       1711.0          1038.0    3148618
16  West North Central          Kansas       1443.0           773.0    2911359
17  East South Central        Kentucky       2735.0           953.0    4461153
18  West South Central       Louisiana       2540.0           519.0    4659690
19         New England           Maine       1450.0          1066.0    1339057
20      South Atlantic        Maryland       4914.0          2230.0    6035802
21         New England   Massachusetts       6811.0         13257.0    6882635
22  East North Central        Michigan       5209.0          3142.0    9984072
23  West North Central       Minnesota       3993.0          3250.0    5606249
24  East South Central     Mississippi       1024.0           328.0    2981020
25  West North Central        Missouri       3776.0          2107.0    6121623
26            Mountain         Montana        983.0           422.0    1060665
27  West North Central        Nebraska       1745.0           676.0    1925614
28            Mountain          Nevada       7058.0           486.0    3027341
29         New England   New Hampshire        835.0           615.0    1353465
30        Mid-Atlantic      New Jersey       6048.0          3350.0    8886025
31            Mountain      New Mexico       1949.0           602.0    2092741
32        Mid-Atlantic        New York      39827.0         52070.0   19530351
33      South Atlantic  North Carolina       6451.0          2817.0   10381615
35  East North Central            Ohio       6929.0          3320.0   11676341
36  West South Central        Oklahoma       2823.0          1048.0    3940235
37             Pacific          Oregon      11139.0          3337.0    4181886
38        Mid-Atlantic    Pennsylvania       8163.0          5349.0   12800922
39         New England    Rhode Island        747.0           354.0    1058287
40      South Atlantic  South Carolina       3082.0           851.0    5084156
42  East South Central       Tennessee       6139.0          1744.0    6771631
43  West South Central           Texas      19199.0          6111.0   28628666
44            Mountain            Utah       1904.0           972.0    3153550
46      South Atlantic        Virginia       3928.0          2047.0    8501286
47             Pacific      Washington      16424.0          5880.0    7523869
48      South Atlantic   West Virginia       1021.0           222.0    1804291
49  East North Central       Wisconsin       2740.0          2167.0    5807406

In [46]:
data[data['state_pop'] > 1000000].shape

(44, 5)

In [45]:
data.shape

(51, 5)

In [48]:
data[data['state_pop'] < 1000000].shape

(7, 5)

In [50]:
data[data['region'] == 'Pacific']

     region       state  individuals  family_members  state_pop
1   Pacific      Alaska       1434.0           582.0     735139
4   Pacific  California     109008.0         20964.0   39461588
11  Pacific      Hawaii       4131.0          2399.0    1420593
37  Pacific      Oregon      11139.0          3337.0    4181886
47  Pacific  Washington      16424.0          5880.0    7523869

In [52]:
data[(data['region'] == 'Pacific') & (data['state_pop'] < 1000000)]
# & ampersand : and
# | pipe : or

    region   state  individuals  family_members  state_pop
1  Pacific  Alaska       1434.0           582.0     735139

In [54]:
data[data['region'].isin(['Pacific','Mountain','New England'])]

         region          state  individuals  family_members  state_pop
1       Pacific         Alaska       1434.0           582.0     735139
2      Mountain        Arizona       7259.0          2606.0    7158024
4       Pacific     California     109008.0         20964.0   39461588
5      Mountain       Colorado       7607.0          3250.0    5691287
6   New England    Connecticut       2280.0          1696.0    3571520
11      Pacific         Hawaii       4131.0          2399.0    1420593
12     Mountain          Idaho       1297.0           715.0    1750536
19  New England          Maine       1450.0          1066.0    1339057
21  New England  Massachusetts       6811.0         13257.0    6882635
26     Mountain        Montana        983.0           422.0    1060665
28     Mountain         Nevada       7058.0           486.0    3027341
29  New England  New Hampshire        835.0           615.0    1353465
31     Mountain     New Mexico       1949.0           602.0    2092741
37      Pacific         Oregon      11139.0          3337.0    4181886
39  New England   Rhode Island        747.0           354.0    1058287
44     Mountain           Utah       1904.0           972.0    3153550
45  New England        Vermont        780.0           511.0     624358
47      Pacific     Washington      16424.0          5880.0    7523869
50     Mountain        Wyoming        434.0           205.0     577601

In [55]:
data[data['region'].isin(['Pacific','Mountain','New England'])].sort_values('region')

         region          state  individuals  family_members  state_pop
26     Mountain        Montana        983.0           422.0    1060665
44     Mountain           Utah       1904.0           972.0    3153550
31     Mountain     New Mexico       1949.0           602.0    2092741
28     Mountain         Nevada       7058.0           486.0    3027341
12     Mountain          Idaho       1297.0           715.0    1750536
50     Mountain        Wyoming        434.0           205.0     577601
5      Mountain       Colorado       7607.0          3250.0    5691287
2      Mountain        Arizona       7259.0          2606.0    7158024
6   New England    Connecticut       2280.0          1696.0    3571520
19  New England          Maine       1450.0          1066.0    1339057
21  New England  Massachusetts       6811.0         13257.0    6882635
29  New England  New Hampshire        835.0           615.0    1353465
39  New England   Rhode Island        747.0           354.0    1058287
45  New England        Vermont        780.0           511.0     624358
47      Pacific     Washington      16424.0          5880.0    7523869
4       Pacific     California     109008.0         20964.0   39461588
37      Pacific         Oregon      11139.0          3337.0    4181886
11      Pacific         Hawaii       4131.0          2399.0    1420593
1       Pacific         Alaska       1434.0           582.0     735139

In [56]:
data['state_pop']/1000000

0      4.887681
1      0.735139
2      7.158024
3      3.009733
4     39.461588
5      5.691287
6      3.571520
7      0.965479
8      0.701547
9     21.244317
10    10.511131
11     1.420593
12     1.750536
13    12.723071
14     6.695497
15     3.148618
16     2.911359
17     4.461153
18     4.659690
19     1.339057
20     6.035802
21     6.882635
22     9.984072
23     5.606249
24     2.981020
25     6.121623
26     1.060665
27     1.925614
28     3.027341
29     1.353465
30     8.886025
31     2.092741
32    19.530351
33    10.381615
34     0.758080
35    11.676341
36     3.940235
37     4.181886
38    12.800922
39     1.058287
40     5.084156
41     0.878698
42     6.771631
43    28.628666
44     3.153550
45     0.624358
46     8.501286
47     7.523869
48     1.804291
49     5.807406
50     0.577601
Name: state_pop, dtype: float64

In [57]:
data['state_pop_million'] = data['state_pop']/1000000

In [58]:
data

,region,state,individuals,family_members,state_pop,state_pop_million
0,East South Central,Alabama,2570.0,864.0,4887681,4.887681
1,Pacific,Alaska,1434.0,582.0,735139,0.735139
2,Mountain,Arizona,7259.0,2606.0,7158024,7.158024
3,West South Central,Arkansas,2280.0,432.0,3009733,3.009733
4,Pacific,California,109008.0,20964.0,39461588,39.461588
5,Mountain,Colorado,7607.0,3250.0,5691287,5.691287
6,New England,Connecticut,2280.0,1696.0,3571520,3.571520
7,South Atlantic,Delaware,708.0,374.0,965479,0.965479
8,South Atlantic,District of Columbia,3770.0,3134.0,701547,0.701547
9,South Atlantic,Florida,21443.0,9587.0,21244317,21.244317
10,South Atlantic,Georgia,6943.0,2556.0,10511131,10.511131
11,Pacific,Hawaii,4131.0,2399.0,1420593,1.420593
12,Mountain,Idaho,1297.0,715.0,1750536,1.750536
13,East North Central,Illinois,6752.0,3891.0,12723071,12.723071
14,East North Central,Indiana,3776.0,1482.0,6695497,6.695497
15,West North Central,Iowa,1711.0,1038.0,3148618,3.148618
16,West North Central,Kansas,1443.0,773.0,2911359,2.911359
17,East South Central,Kentucky,2735.0,953.0,4461153,4.461153
18,West South Central,Louisiana,2540.0,519.0,4659690,4.659690
19,New England,Maine,1450.0,1066.0,1339057,1.339057
20,South Atlantic,Maryland,4914.0,2230.0,6035802,6.035802
21,New England,Massachusetts,6811.0,13257.0,6882635,6.882635
22,East North Central,Michigan,5209.0,3142.0,9984072,9.984072
23,West North Central,Minnesota,3993.0,3250.0,5606249,5.606249
24,East South Central,Mississippi,1024.0,328.0,2981020,2.981020
25,West North Central,Missouri,3776.0,2107.0,6121623,6.121623
26,Mountain,Montana,983.0,422.0,1060665,1.060665
27,West North Central,Nebraska,1745.0,676.0,1925614,1.925614
28,Mountain,Nevada,7058.0,486.0,3027341,3.027341
29,New England,New Hampshire,835.0,615.0,1353465,1.353465
30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025,8.886025
31,Mountain,New Mexico,1949.0,602.0,2092741,2.092741
32,Mid-Atlantic,New York,39827.0,52070.0,19530351,19.530351
33,South Atlantic,North Carolina,6451.0,2817.0,10381615,10.381615
34,West North Central,North Dakota,467.0,75.0,758080,0.758080
35,East North Central,Ohio,6929.0,3320.0,11676341,11.676341
36,West South Central,Oklahoma,2823.0,1048.0,3940235,3.940235
37,Pacific,Oregon,11139.0,3337.0,4181886,4.181886
38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922,12.800922
39,New England,Rhode Island,747.0,354.0,1058287,1.058287
40,South Atlantic,South Carolina,3082.0,851.0,5084156,5.084156
41,West North Central,South Dakota,836.0,323.0,878698,0.878698
42,East South Central,Tennessee,6139.0,1744.0,6771631,6.771631
43,West South Central,Texas,19199.0,6111.0,28628666,28.628666
44,Mountain,Utah,1904.0,972.0,3153550,3.153550
45,New England,Vermont,780.0,511.0,624358,0.624358
46,South Atlantic,Virginia,3928.0,2047.0,8501286,8.501286
47,Pacific,Washington,16424.0,5880.0,7523869,7.523869
48,South Atlantic,West Virginia,1021.0,222.0,1804291,1.804291
49,East North Central,Wisconsin,2740.0,2167.0,5807406,5.807406
50,Mountain,Wyoming,434.0,205.0,577601,0.577601

In [60]:
(data['individuals'] - data['family_members'])/data['family_members']

0      1.974537
1      1.463918
2      1.785495
3      4.277778
4      4.199771
5      1.340615
6      0.344340
7      0.893048
8      0.202936
9      1.236675
10     1.716354
11     0.721967
12     0.813986
13     0.735287
14     1.547908
15     0.648362
16     0.866753
17     1.869885
18     3.894027
19     0.360225
20     1.203587
21    -0.486234
22     0.657861
23     0.228615
24     2.121951
25     0.792121
26     1.329384
27     1.581361
28    13.522634
29     0.357724
30     0.805373
31     2.237542
32    -0.235126
33     1.290025
34     5.226667
35     1.087048
36     1.693702
37     2.338028
38     0.526080
39     1.110169
40     2.621622
41     1.588235
42     2.520069
43     2.141712
44     0.958848
45     0.526419
46     0.918906
47     1.793197
48     3.599099
49     0.264421
50     1.117073
dtype: float64

In [61]:
data

,region,state,individuals,family_members,state_pop,state_pop_million
0,East South Central,Alabama,2570.0,864.0,4887681,4.887681
1,Pacific,Alaska,1434.0,582.0,735139,0.735139
2,Mountain,Arizona,7259.0,2606.0,7158024,7.158024
3,West South Central,Arkansas,2280.0,432.0,3009733,3.009733
4,Pacific,California,109008.0,20964.0,39461588,39.461588
5,Mountain,Colorado,7607.0,3250.0,5691287,5.691287
6,New England,Connecticut,2280.0,1696.0,3571520,3.571520
7,South Atlantic,Delaware,708.0,374.0,965479,0.965479
8,South Atlantic,District of Columbia,3770.0,3134.0,701547,0.701547
9,South Atlantic,Florida,21443.0,9587.0,21244317,21.244317
10,South Atlantic,Georgia,6943.0,2556.0,10511131,10.511131
11,Pacific,Hawaii,4131.0,2399.0,1420593,1.420593
12,Mountain,Idaho,1297.0,715.0,1750536,1.750536
13,East North Central,Illinois,6752.0,3891.0,12723071,12.723071
14,East North Central,Indiana,3776.0,1482.0,6695497,6.695497
15,West North Central,Iowa,1711.0,1038.0,3148618,3.148618
16,West North Central,Kansas,1443.0,773.0,2911359,2.911359
17,East South Central,Kentucky,2735.0,953.0,4461153,4.461153
18,West South Central,Louisiana,2540.0,519.0,4659690,4.659690
19,New England,Maine,1450.0,1066.0,1339057,1.339057
20,South Atlantic,Maryland,4914.0,2230.0,6035802,6.035802
21,New England,Massachusetts,6811.0,13257.0,6882635,6.882635
22,East North Central,Michigan,5209.0,3142.0,9984072,9.984072
23,West North Central,Minnesota,3993.0,3250.0,5606249,5.606249
24,East South Central,Mississippi,1024.0,328.0,2981020,2.981020
25,West North Central,Missouri,3776.0,2107.0,6121623,6.121623
26,Mountain,Montana,983.0,422.0,1060665,1.060665
27,West North Central,Nebraska,1745.0,676.0,1925614,1.925614
28,Mountain,Nevada,7058.0,486.0,3027341,3.027341
29,New England,New Hampshire,835.0,615.0,1353465,1.353465
30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025,8.886025
31,Mountain,New Mexico,1949.0,602.0,2092741,2.092741
32,Mid-Atlantic,New York,39827.0,52070.0,19530351,19.530351
33,South Atlantic,North Carolina,6451.0,2817.0,10381615,10.381615
34,West North Central,North Dakota,467.0,75.0,758080,0.758080
35,East North Central,Ohio,6929.0,3320.0,11676341,11.676341
36,West South Central,Oklahoma,2823.0,1048.0,3940235,3.940235
37,Pacific,Oregon,11139.0,3337.0,4181886,4.181886
38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922,12.800922
39,New England,Rhode Island,747.0,354.0,1058287,1.058287
40,South Atlantic,South Carolina,3082.0,851.0,5084156,5.084156
41,West North Central,South Dakota,836.0,323.0,878698,0.878698
42,East South Central,Tennessee,6139.0,1744.0,6771631,6.771631
43,West South Central,Texas,19199.0,6111.0,28628666,28.628666
44,Mountain,Utah,1904.0,972.0,3153550,3.153550
45,New England,Vermont,780.0,511.0,624358,0.624358
46,South Atlantic,Virginia,3928.0,2047.0,8501286,8.501286
47,Pacific,Washington,16424.0,5880.0,7523869,7.523869
48,South Atlantic,West Virginia,1021.0,222.0,1804291,1.804291
49,East North Central,Wisconsin,2740.0,2167.0,5807406,5.807406
50,Mountain,Wyoming,434.0,205.0,577601,0.577601

In [62]:
data['state_pop'].mean()

6405637.274509804

In [63]:
data['state_pop'].median()

4461153.0

In [64]:
data['state_pop'].min()

577601

In [67]:
# number of rows for every distinct value of a column
data['region'].value_counts()

South Atlantic        9
Mountain              8
West North Central    7
New England           6
Pacific               5
East North Central    5
East South Central    4
West South Central    4
Mid-Atlantic          3
Name: region, dtype: int64

In [68]:
# drop duplicate values and its related rows from dataframe

In [69]:
data.drop_duplicates('region')

,region,state,individuals,family_members,state_pop,state_pop_million
0,East South Central,Alabama,2570.0,864.0,4887681,4.887681
1,Pacific,Alaska,1434.0,582.0,735139,0.735139
2,Mountain,Arizona,7259.0,2606.0,7158024,7.158024
3,West South Central,Arkansas,2280.0,432.0,3009733,3.009733
6,New England,Connecticut,2280.0,1696.0,3571520,3.571520
7,South Atlantic,Delaware,708.0,374.0,965479,0.965479
13,East North Central,Illinois,6752.0,3891.0,12723071,12.723071
15,West North Central,Iowa,1711.0,1038.0,3148618,3.148618
30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025,8.886025

In [70]:
data.drop_duplicates('region', keep='last')

,region,state,individuals,family_members,state_pop,state_pop_million
38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922,12.800922
41,West North Central,South Dakota,836.0,323.0,878698,0.878698
42,East South Central,Tennessee,6139.0,1744.0,6771631,6.771631
43,West South Central,Texas,19199.0,6111.0,28628666,28.628666
45,New England,Vermont,780.0,511.0,624358,0.624358
47,Pacific,Washington,16424.0,5880.0,7523869,7.523869
48,South Atlantic,West Virginia,1021.0,222.0,1804291,1.804291
49,East North Central,Wisconsin,2740.0,2167.0,5807406,5.807406
50,Mountain,Wyoming,434.0,205.0,577601,0.577601

In [71]:
data.drop_duplicates(['region','state'])

,region,state,individuals,family_members,state_pop,state_pop_million
0,East South Central,Alabama,2570.0,864.0,4887681,4.887681
1,Pacific,Alaska,1434.0,582.0,735139,0.735139
2,Mountain,Arizona,7259.0,2606.0,7158024,7.158024
3,West South Central,Arkansas,2280.0,432.0,3009733,3.009733
4,Pacific,California,109008.0,20964.0,39461588,39.461588
5,Mountain,Colorado,7607.0,3250.0,5691287,5.691287
6,New England,Connecticut,2280.0,1696.0,3571520,3.571520
7,South Atlantic,Delaware,708.0,374.0,965479,0.965479
8,South Atlantic,District of Columbia,3770.0,3134.0,701547,0.701547
9,South Atlantic,Florida,21443.0,9587.0,21244317,21.244317
10,South Atlantic,Georgia,6943.0,2556.0,10511131,10.511131
11,Pacific,Hawaii,4131.0,2399.0,1420593,1.420593
12,Mountain,Idaho,1297.0,715.0,1750536,1.750536
13,East North Central,Illinois,6752.0,3891.0,12723071,12.723071
14,East North Central,Indiana,3776.0,1482.0,6695497,6.695497
15,West North Central,Iowa,1711.0,1038.0,3148618,3.148618
16,West North Central,Kansas,1443.0,773.0,2911359,2.911359
17,East South Central,Kentucky,2735.0,953.0,4461153,4.461153
18,West South Central,Louisiana,2540.0,519.0,4659690,4.659690
19,New England,Maine,1450.0,1066.0,1339057,1.339057
20,South Atlantic,Maryland,4914.0,2230.0,6035802,6.035802
21,New England,Massachusetts,6811.0,13257.0,6882635,6.882635
22,East North Central,Michigan,5209.0,3142.0,9984072,9.984072
23,West North Central,Minnesota,3993.0,3250.0,5606249,5.606249
24,East South Central,Mississippi,1024.0,328.0,2981020,2.981020
25,West North Central,Missouri,3776.0,2107.0,6121623,6.121623
26,Mountain,Montana,983.0,422.0,1060665,1.060665
27,West North Central,Nebraska,1745.0,676.0,1925614,1.925614
28,Mountain,Nevada,7058.0,486.0,3027341,3.027341
29,New England,New Hampshire,835.0,615.0,1353465,1.353465
30,Mid-Atlantic,New Jersey,6048.0,3350.0,8886025,8.886025
31,Mountain,New Mexico,1949.0,602.0,2092741,2.092741
32,Mid-Atlantic,New York,39827.0,52070.0,19530351,19.530351
33,South Atlantic,North Carolina,6451.0,2817.0,10381615,10.381615
34,West North Central,North Dakota,467.0,75.0,758080,0.758080
35,East North Central,Ohio,6929.0,3320.0,11676341,11.676341
36,West South Central,Oklahoma,2823.0,1048.0,3940235,3.940235
37,Pacific,Oregon,11139.0,3337.0,4181886,4.181886
38,Mid-Atlantic,Pennsylvania,8163.0,5349.0,12800922,12.800922
39,New England,Rhode Island,747.0,354.0,1058287,1.058287
40,South Atlantic,South Carolina,3082.0,851.0,5084156,5.084156
41,West North Central,South Dakota,836.0,323.0,878698,0.878698
42,East South Central,Tennessee,6139.0,1744.0,6771631,6.771631
43,West South Central,Texas,19199.0,6111.0,28628666,28.628666
44,Mountain,Utah,1904.0,972.0,3153550,3.153550
45,New England,Vermont,780.0,511.0,624358,0.624358
46,South Atlantic,Virginia,3928.0,2047.0,8501286,8.501286
47,Pacific,Washington,16424.0,5880.0,7523869,7.523869
48,South Atlantic,West Virginia,1021.0,222.0,1804291,1.804291
49,East North Central,Wisconsin,2740.0,2167.0,5807406,5.807406
50,Mountain,Wyoming,434.0,205.0,577601,0.577601

In [72]:
data['region'].unique()

array(['East South Central', 'Pacific', 'Mountain', 'West South Central',
       'New England', 'South Atlantic', 'East North Central',
       'West North Central', 'Mid-Atlantic'], dtype=object)

In [73]:
len(data['region'].unique())

9

In [75]:
len(data['state'].unique())

51