### Operators

#### Arithmetic Operators

In [2]:
print(10+5)
print(10-5)
print(10*5)
print(10%5)
print(10**5)

15
5
50
0
100000

In [5]:
print(11/5) #divison

2.2

In [7]:
print(11//5) #floor divison

2

#### Assignment Operators

In [8]:
x = 6

In [9]:
print(x)

6

In [10]:
x = x + 3
#x += 3

In [11]:
print(x)

9

In [12]:
x = x - 3
#x -= 3

In [13]:
print(x)

6

#### Comparison Operators

In [16]:
1 == 2

False

In [17]:
2 == 2

True

In [18]:
3 != 2

True

In [19]:
3 != 3

False

In [20]:
3 > 4

False

In [21]:
4 < 6

True

In [22]:
4 <= 3

False

In [23]:
3 >= 1

True

#### Logical Operators

In [24]:
#And
#Or
#Not

In [25]:
not True

False

In [26]:
not False

True

In [27]:
True and True

True

In [28]:
True and (not True)
#True and False

False

#### Membership Operators

In [29]:
1 in [0,1,2,3,4,5]

True

In [31]:
10 not in [0,1,2,3,4,5]

True

##### List of List

In [32]:
[0, "name", 0.3, True, False, 2**3]

[0, 'name', 0.3, True, False, 8]

In [33]:
[1.8, 1.6, 1.4, 1.3]
[['name1',1.8], ['name2',1.6]]

[1.8, 1.6, 1.4, 1.3]

In [41]:
height_with_names = [['dhyan',1.8], ['dev',1.6],['Kinjal',1.7]]

In [38]:
height_with_names[0]

['dhyan', 1.8]

In [39]:
height_with_names[1]

['dev', 1.6]

In [42]:
height_with_names[2]

['Kinjal', 1.7]

In [50]:
height_with_names[0][0]

'dhyan'

In [51]:
height_with_names[1][1]

1.6

In [52]:
height_with_names[2][1]

1.7

#### DataType in List/Collection Family

##### Tuples

In [59]:
my_tuple = ('apple','banana','litchi')

In [60]:
print(my_tuple)

('apple', 'banana', 'litchi')

In [61]:
my_tuple[0] #similar to lists

'apple'

In [62]:
my_tuple[0] = 'chickoo' #different from list, since list supports replacing a value at any index

TypeError: 'tuple' object does not support item assignment

In [63]:
len(my_tuple)

3

In [64]:
type(my_tuple)

tuple

##### Sets

In [66]:
my_list = ['apple','banana','litchi', 'apple']

In [68]:
my_set = set(my_list)

In [69]:
my_set[0]

TypeError: 'set' object is not subscriptable

In [70]:
my_set2 = {'apple','banana','litchi'}

In [71]:
type(my_set2)

set

In [82]:
set3 = {"name",1,0.7 ,False}

In [83]:
set3

{0.7, 1, False, 'name'}

In [84]:
{1, True} #False = 0, True = 1
#{1, 1} # set will remove duplicates

{1}

#### Dictionaries

In [100]:
my_dictionary = {
    "dhyan": "1.8",
    "dev": 1.6,
    "kinjal": 1.5
}  
#Lower case and Upper case are two different values
#'DHYAN' == 'dhyan'

In [98]:
my_dictionary["dhyan"]

'1.8'

In [99]:
print(my_dictionary)

{'dhyan': '1.8', 'dev': 1.6, 'kinjal': 1.5}

In [87]:
type(my_dictionary)

dict

In [106]:
#Summary:
# List: Ordered, Changeable, allows duplicates, does not have keys
# Tuple: ordered, Unchangeable, allows duplicates, does not have keys
# Set: Unordered, unchangeable, no duplicates, does not have keys
#dictionary: ordered, changeable, no duplicates*, it has keys

In [107]:
# For loops Extended
for i in range(1,101):
    print(i)
    if i == 45:
        break

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45

In [108]:
for j in ['dhyan','dev','laksh','jay','himanshu','kinjal','shukan']:
    print(j)
    if j == 'jay':
        break

dhyan
dev
laksh
jay

##### While Loop

In [116]:
k = 1
while k <= 6:
    print(k)
    k = k + 1 # Most important step

1
2
3
4
5
6

In [110]:
6 < 6

False

In [115]:
k = 1
while k < 6:
    print(k)
    if k == 3:
        break
    k = k + 1 # Most important step

1
2
3

# 3_Assignment

### Q1

In [2]:
# Take a value greater than 1 from user (You can put it in any variable)
# Print the sum of all numbers from 1 to that number
#for eg: num=3
#output should be 6 (since 1+2+3 is 6
#Try implementing it with *For* as well as *While* Loop

### Q2

In [3]:
# Use a loop to display elements from a given list present at odd index positions
# my_list = [10,20,11,22,33,44,66,76,87,98,20,30,40,50,23,45,67,89]

### Q3

In [ ]:
#print pattern in the output as shown below, if the user input(or your variable value) is 4
*
**
***
****
***
**
*
# the variable value represents the max value of stars

### Q4

In [5]:
# concept: Factorial of 5 is 5*4*3*2*1 = 120
# Find the factorial of any number provided by user

### Q5

In [6]:
# Display numbers from -10 to -1 using While and For Loop