In [100]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LinearRegression
from sklearn.metrics import accuracy_score, mean_absolute_error, mean_squared_error
from sklearn.model_selection import train_test_split

In [101]:
data = pd.read_csv('Datasets/advertising_and_sales_clean.csv')

In [102]:
data

           tv     radio  social_media influencer      sales
0     16000.0   6566.23       2907.98       Mega   54732.76
1     13000.0   9237.76       2409.57       Mega   46677.90
2     41000.0  15886.45       2913.41       Mega  150177.83
3     83000.0  30020.03       6922.30       Mega  298246.34
4     15000.0   8437.41       1406.00      Micro   56594.18
...       ...       ...           ...        ...        ...
4541  26000.0   4472.36        717.09      Micro   94685.87
4542  71000.0  20610.69       6545.57       Nano  249101.92
4543  44000.0  19800.07       5096.19      Micro  163631.46
4544  71000.0  17534.64       1940.87      Macro  253610.41
4545  42000.0  15966.69       5046.55      Micro  148202.41

[4546 rows x 5 columns]

In [103]:
features = data[['tv','radio','social_media']]

In [104]:
target = data[['sales']]

In [129]:
x_train, x_test, y_train, y_test = train_test_split(features, target, test_size=0.2)

In [130]:
x_train.shape

(3636, 3)

In [131]:
x_train

           tv     radio  social_media
4446  67000.0  20010.93       6373.31
571   20000.0  12301.21       1123.41
4166  85000.0  40194.46       5326.76
1674  24000.0  15578.23        613.99
4332  78000.0  21967.47       2471.42
...       ...       ...           ...
2236  35000.0  14776.56       3728.00
1969  47000.0  25467.99       2998.56
4179  83000.0  25396.96       2810.28
253   23000.0   7989.79        508.96
535   99000.0  36876.30       7618.61

[3636 rows x 3 columns]

In [109]:
x_test

           tv     radio  social_media
3188  26000.0   3977.00        130.78
2921  74000.0  24623.63       5521.46
113   74000.0  20220.87       4540.90
522   67000.0  12849.49       3413.28
2562  25000.0  15028.64       1608.62
...       ...       ...           ...
566   93000.0  36812.28       3083.61
1610  78000.0  26718.15       3363.13
1484  80000.0  21661.32       4286.28
3954  89000.0  21766.13       2193.17
679   33000.0   5809.82       1228.69

[910 rows x 3 columns]

In [143]:
lreg = LinearRegression()

In [144]:
lreg.fit(x_train, y_train)

LinearRegression()

In [145]:
lreg.coef_

array([[ 3.56552216, -0.00836859, -0.00727646]])

In [148]:
y_pred = lreg.predict(x_test)

In [149]:
mean_squared_error(y_pred, y_test)

9007481.623447007

In [150]:
mean_absolute_error(y_pred, y_test)

2405.308761354012

In [151]:
accuracy_score(y_pred, y_test)

ValueError: continuous is not supported