In [7]:
# Take a value greater than 1 from user (You can put it in any variable)
# Print the sum of all numbers from 1 to that number
#for eg: num=3
#output should be 6 (since 1+2+3 is 6
#Try implementing it with *For* as well as *While* Loop

In [3]:
num = 6
sum=0
for i in range(1,num+1):
    sum += i
print(sum)

21

In [13]:
# While loop

In [51]:
# Use a loop to display elements from a given list present at odd index positions
# my_list = [10,20,11,22,33,44,66,76,87,98,20,30,40,50,23,45,67,89]

In [2]:
my_list = [10,20,11,22,33,44,66,76,87,98,20,30,40,50,23,45,67,89]

In [12]:
x=0
for i in my_list:
    if x%2 !=0:
        print(i)
    x +=1

20
22
44
76
98
30
50
45
89

In [39]:
#print pattern in the output as shown below, if the user input(or your variable value) is 4
#*
#**
#***
#****
#***
#**
#*
# the variable value represents the max value of stars

In [40]:
star = 5
for i in range(1,star+1):
    print("*"*i)
for i in range(star-1,0,-1):
    print("*"*i)

*
**
***
****
*****
****
***
**
*

In [17]:
# concept: Factorial of 5 is 5*4*3*2*1 = 120
# Find the factorial of any number provided by user

In [61]:
number = 6
factorial = 1
for i in range(1,number+1):
    factorial *= i
    print(factorial)

1
2
6
24
120
720

In [42]:
# Display numbers from -10 to -1 using While and For Loop

In [43]:
K = -10
while K < 0:
    print(K)
    K = K+1

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1

In [1]:
for k in range(-10,0):
    print(k)

-10
-9
-8
-7
-6
-5
-4
-3
-2
-1